h1 {
    font-size: 1.5420rem;
    font-family: monospace;
    margin-bottom: 0.2rem;
}

a {
    font-size: 1.42rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

button {
    background: none;
    margin: 0.5rem;
}

input {
    width: 220px;
}

p {
    font-family: monospace;
    margin: 0;
    width: 200px;
    text-align: center;
}

.main {
    display: grid;
    grid-template-columns: 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px;
    border: solid gray 1px;
    margin: 10px;
    width: min-content;
}

.cell:hover{
    height: 18px;
    width: 18px;
    border: solid black 1px;
}

.cell {
    text-align: center;
    color: transparent;
    height: 20px;
    width: 20px;
}

.on {
    display: inline;
}

.off {
    display: none;
}

.count-0 {
    background-color: none;
}

.count-1 {
    background-color: #a37eaa2a;
}
.count-2 {
    background-color: #a37eaa15;
}
.count-3 {
    background-color: #a37eaa10;
}
.count-4 {
    background-color: #a37eaa04;
}

.die {
    background-color: #50795934;
}

.live {
    background-color: #9c3eafe3;
}

.born {
    background-color: #9c3eaf;
}

.pressed {
    color: red;
}